<div class="container">
  <app-todo-list></app-todo-list>
  <div class="d-flex flex-column">
  <mat-checkbox [checked]="isChecked" [value]="'test checkbox'" (change)="onCheckBoxChange($event)">

    test checkbox
  </mat-checkbox>
  <mat-radio-group [selected]="female" (change)="onRadioChange($event)">
    <mat-radio-button value="1" #male>male</mat-radio-button>
    <mat-radio-button value="2" #female>female</mat-radio-button>
  </mat-radio-group>

  <mat-form-field>
<!--    multiple -->
<!--    <mat-select [multiple]="true" [(ngModel)]="selectorValue" (ngModelChange)="selectChange()" >-->
<!--      <mat-option value="1">option1</mat-option>-->
<!--      <mat-option value="2">option2</mat-option>-->
<!--      <mat-option value="3">option3</mat-option>-->
<!--    </mat-select>-->

<!--    two value binding-->
<!--        <mat-select [(value)]="selectorValue" (selectionChange)="selectChange()" >-->
<!--          <mat-option value="1">option1</mat-option>-->
<!--          <mat-option value="2">option2</mat-option>-->
<!--          <mat-option value="3">option3</mat-option>-->
<!--        </mat-select>-->

            <mat-select  (selectionChange)="selectChange($event)" >
              <mat-option value="1">option1</mat-option>
              <mat-option value="2">option2</mat-option>
              <mat-option value="3">option3</mat-option>
            </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>user name</mat-label>
    <input matInput placeholder="user name" [(ngModel)]="inputValue" required #usernameInput="ngModel">
    <mat-hint>enter your username</mat-hint>
    <mat-error *ngIf="usernameInput.invalid">username is required</mat-error>
    <mat-icon matPrefix>home</mat-icon>
    <mat-icon matSuffix>add</mat-icon>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="address" [(ngModel)]="address" required #addressInput="ngModel"></textarea>
    <mat-hint>enter your address</mat-hint>
    <mat-error *ngIf="addressInput.invalid">address is required</mat-error>
  </mat-form-field>
<button mat-button color="accent" class="mb-3">basic button</button>
<button mat-flat-button color="accent" class="mb-3">flat button</button>
<button mat-raised-button color="accent" class="mb-3">raised button</button>
<button mat-stroked-button color="accent" class="mb-3">stroked button</button>
<button mat-button color="accent" class="mb-3">
<mat-icon>add</mat-icon>
</button>
<button mat-fab color="accent" class="mb-3">
  <mat-icon>add</mat-icon>
</button>
<button mat-mini-fab color="accent" class="mb-3">
  <mat-icon>add</mat-icon>
</button>
<div class="text-center mb-5 mx-auto">
  <mat-chip-set>
    <mat-chip color="primary" [removable]="chipRemovable" (removed)="chipRemove($event)">
      chip1
      <mat-icon matChipRemove *ngIf="chipRemovable">close</mat-icon>
    </mat-chip>
    <mat-chip color="accent" highlighted>chip2</mat-chip>
    <mat-chip color="warn">
      chip3
    </mat-chip>
  </mat-chip-set>
</div>
  <h1 class="text-dark" *ngIf="isContentShown">content</h1>
</div>
</div>
